{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding" >
            <button type="submit" form="add_recipe"
                        class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">
                    Zapisz
                </button>
        </div>
    </div>

    <div class="schedules-content">
        <form action="" method="post" id="add_recipe"> {% csrf_token %}
            <div class="form-group row">
                <label for="choosePlan"
                       class="col-sm-2 label-size col-form-label">
                    Wybierz plan
                </label>
                <div class="col-sm-3">
                    <select class="form-control" id="choosePlan" name="plan_id">
                        {% for plan in plans %}
                        <option value="{{ plan.id }}">{{ plan.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 label-size col-form-label">
                    Nazwa posiłku
                </label>
                <div class="col-sm-10">
                    <select class="form-control" id="meal_name_1" name="meal_id">
                        {% for meal in meal_names %}
                        <option value="{{ meal.0 }}"> {{ meal.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-sm-2 label-size col-form-label">
                    Numer posiłku
                </label>
                <div class="col-sm-2">
                    <input type="text"
                           class="form-control"
                           value=""
                           min="1"
                           id="number"
                           name="meal_number"
                           placeholder="Numer posiłku"
                            required>
                </div>
                {% if number_exsist %}
                    <div class="col"><h6 class="color-header text-uppercase">
                        Posiłek w tym dniu o podanym numerze już istnieje!</h6></div>
                {% endif %}
            </div>
            <div class="form-group row">
                <label for="recipie" class="col-sm-2 label-size col-form-label">
                    Przepis
                </label>
                <div class="col-sm-4">
                    <select class="form-control" id="recipie" name="recipe_id">
                        {% for recipe in recipes %}
                        <option value="{{ recipe.id }}"> {{ recipe.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="day" class="col-sm-2 label-size col-form-label">
                    Dzień
                </label>
                <div class="col-sm-2">
                    <select class="form-control" id="day" name="day">
                        {% for day in days %}
                        <option value="{{ day.0 }}">{{ day.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}